## Preprocessing

In [1]:
import os
import pandas as pd
import numpy as np

DATASET_DIR = "dataset"

In [ ]:
#Checking the general outline of the data
summary = []

print("=" * 80)
print("STOCK DATASET OVERVIEW")
print("=" * 80)

for file in sorted(os.listdir(DATASET_DIR)):
    if not file.endswith(".csv"):
        continue

    path = os.path.join(DATASET_DIR, file)
    df = pd.read_csv(path)

    print(f"\nFILE: {file}")
    print("-" * 60)
    print("Rows:", len(df))
    print("Columns:", list(df.columns))
    print("Data types:")
    print(df.dtypes)
    print("Missing values:")
    print(df.isnull().sum())
    print("First 3 rows:")
    display(df.head(3))

    summary.append({
        "Stock": file.replace(".csv", ""),
        "Rows": len(df),
        "Columns": len(df.columns),
        "Column Names": ", ".join(df.columns)
    })

summary_df = pd.DataFrame(summary)

print("\n" + "=" * 80)
print("SUMMARY TABLE")
print("=" * 80)
display(summary_df)

================================================================================
STOCK DATASET OVERVIEW
================================================================================

FILE: AAPL.csv
------------------------------------------------------------
Rows: 9909
Columns: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
Data types:
Date             str
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object
Missing values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
First 3 rows:

         Date      Open      High       Low     Close  Adj Close     Volume
0  1980-12-12  0.513393  0.515625  0.513393  0.513393   0.406782  117258400
1  1980-12-15  0.488839  0.488839  0.486607  0.486607   0.385558   43971200
2  1980-12-16  0.453125  0.453125  0.450893  0.450893   0.357260   26432000

FILE: ADBE.csv
------------------------------------------------------------
Rows: 8478
Columns: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
Data types:
Date             str
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object
Missing values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
First 3 rows:

         Date  Open      High       Low     Close  Adj Close    Volume
0  1986-08-13   0.0  0.218750  0.210938  0.210938   0.153170  18899200
1  1986-08-14   0.0  0.230469  0.222656  0.222656   0.161679   4160000
2  1986-08-15   0.0  0.222656  0.218750  0.218750   0.158843   4332800

FILE: ADI.csv
------------------------------------------------------------
Rows: 10098
Columns: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
Data types:
Date             str
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object
Missing values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
First 3 rows:

         Date  Open   High    Low  Close  Adj Close  Volume
0  1980-03-17   0.0  0.764  0.728  0.728   0.494301  374600
1  1980-03-18   0.0  0.728  0.708  0.720   0.488870  211400
2  1980-03-19   0.0  0.736  0.720  0.720   0.488870  151200

FILE: AMD.csv
------------------------------------------------------------
Rows: 10098
Columns: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
Data types:
Date             str
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object
Missing values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
First 3 rows:

         Date  Open      High       Low     Close  Adj Close  Volume
0  1980-03-17   0.0  3.302083  3.125000  3.145833   3.145833  219600
1  1980-03-18   0.0  3.125000  2.937500  3.031250   3.031250  727200
2  1980-03-19   0.0  3.083333  3.020833  3.041667   3.041667  295200

FILE: AMZN.csv
------------------------------------------------------------
Rows: 5758
Columns: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
Data types:
Date             str
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object
Missing values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
First 3 rows:

         Date      Open      High       Low     Close  Adj Close    Volume
0  1997-05-15  2.437500  2.500000  1.927083  1.958333   1.958333  72156000
1  1997-05-16  1.968750  1.979167  1.708333  1.729167   1.729167  14700000
2  1997-05-19  1.760417  1.770833  1.625000  1.708333   1.708333   6106800

FILE: CRM.csv
------------------------------------------------------------
Rows: 3972
Columns: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
Data types:
Date             str
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object
Missing values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
First 3 rows:

         Date    Open    High     Low  Close  Adj Close    Volume
0  2004-06-23  3.7500  4.3250  3.6875   4.30       4.30  43574400
1  2004-06-24  4.3875  4.4225  4.1250   4.19       4.19   8887200
2  2004-06-25  4.1275  4.1875  3.9475   3.95       3.95   6710000

FILE: CSCO.csv
------------------------------------------------------------
Rows: 7589
Columns: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
Data types:
Date             str
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object
Missing values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
First 3 rows:

         Date  Open      High       Low     Close  Adj Close     Volume
0  1990-02-16   0.0  0.079861  0.073785  0.077257   0.059806  940636800
1  1990-02-20   0.0  0.079861  0.074653  0.079861   0.061822  151862400
2  1990-02-21   0.0  0.078993  0.075521  0.078125   0.060478   70531200

FILE: EA.csv
------------------------------------------------------------
Rows: 7693
Columns: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
Data types:
Date             str
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object
Missing values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
First 3 rows:

         Date  Open      High       Low     Close  Adj Close    Volume
0  1989-09-20   0.0  0.531250  0.515625  0.515625   0.515625  15396800
1  1989-09-21   0.0  0.507812  0.500000  0.500000   0.500000   6224000
2  1989-09-22   0.0  0.507812  0.500000  0.500000   0.500000   2041600

FILE: GOOGL.csv
------------------------------------------------------------
Rows: 3932
Columns: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
Data types:
Date             str
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object
Missing values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
First 3 rows:

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  50.050049  52.082081  48.028027  50.220219  50.220219  44659000
1  2004-08-20  50.555557  54.594593  50.300301  54.209209  54.209209  22834300
2  2004-08-23  55.430431  56.796795  54.579578  54.754753  54.754753  18256100

FILE: HPQ.csv
------------------------------------------------------------
Rows: 14663
Columns: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
Data types:
Date             str
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object
Missing values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
First 3 rows:

         Date      Open      High       Low     Close  Adj Close   Volume
0  1962-01-02  0.131273  0.131273  0.124177  0.124177   0.006887  2480300
1  1962-01-03  0.124177  0.124177  0.121516  0.122846   0.006813   507300
2  1962-01-04  0.122846  0.126838  0.117968  0.120185   0.006666   845500

FILE: IBM.csv
------------------------------------------------------------
Rows: 14663
Columns: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
Data types:
Date             str
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object
Missing values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
First 3 rows:

         Date      Open      High       Low     Close  Adj Close  Volume
0  1962-01-02  7.713333  7.713333  7.626667  7.626667   0.618153  387200
1  1962-01-03  7.626667  7.693333  7.626667  7.693333   0.623556  288000
2  1962-01-04  7.693333  7.693333  7.613333  7.616667   0.617343  256000

FILE: INTC.csv
------------------------------------------------------------
Rows: 10098
Columns: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
Data types:
Date             str
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object
Missing values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
First 3 rows:

         Date      Open      High       Low     Close  Adj Close    Volume
0  1980-03-17  0.325521  0.330729  0.325521  0.325521   0.204750  10924800
1  1980-03-18  0.325521  0.328125  0.322917  0.322917   0.203112  17068800
2  1980-03-19  0.330729  0.335938  0.330729  0.330729   0.208026  18508800

FILE: MSFT.csv
------------------------------------------------------------
Rows: 8584
Columns: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
Data types:
Date             str
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object
Missing values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
First 3 rows:

         Date      Open      High       Low     Close  Adj Close      Volume
0  1986-03-13  0.088542  0.101562  0.088542  0.097222   0.062378  1031788800
1  1986-03-14  0.097222  0.102431  0.097222  0.100694   0.064606   308160000
2  1986-03-17  0.100694  0.103299  0.100694  0.102431   0.065720   133171200

FILE: NET.csv
------------------------------------------------------------
Rows: 5484
Columns: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
Data types:
Date             str
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object
Missing values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
First 3 rows:

         Date        Open        High    Low  Close  Adj Close  Volume
0  1996-08-08  456.000000  456.000000  420.0  444.0      444.0     146
1  1996-08-13  427.200012  427.200012  396.0  408.0      408.0     181
2  1996-08-14  396.000000  415.200012  384.0  408.0      408.0     215

FILE: NOW.csv
------------------------------------------------------------
Rows: 1951
Columns: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
Data types:
Date             str
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object
Missing values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
First 3 rows:

         Date   Open       High    Low      Close  Adj Close    Volume
0  2012-06-29  23.75  24.750000  22.83  24.600000  24.600000  10922400
1  2012-07-02  24.75  25.200001  24.10  24.770000  24.770000    656700
2  2012-07-03  24.85  25.320000  24.60  25.309999  25.309999    401100

FILE: NVDA.csv
------------------------------------------------------------
Rows: 5334
Columns: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
Data types:
Date             str
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume       float64
dtype: object
Missing values:
Date         0
Open         1
High         1
Low          1
Close        1
Adj Close    1
Volume       1
dtype: int64
First 3 rows:

         Date      Open      High       Low     Close  Adj Close      Volume
0  1999-01-22  1.750000  1.953125  1.552083  1.640625   1.509998  67867200.0
1  1999-01-25  1.770833  1.833333  1.640625  1.812500   1.668188  12762000.0
2  1999-01-26  1.833333  1.869792  1.645833  1.671875   1.538759   8580000.0

FILE: ORCL.csv
------------------------------------------------------------
Rows: 8585
Columns: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
Data types:
Date             str
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object
Missing values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
First 3 rows:

         Date      Open      High       Low     Close  Adj Close     Volume
0  1986-03-12  0.063272  0.064043  0.063272  0.063272   0.055091  393012000
1  1986-03-13  0.064815  0.065586  0.064815  0.064815   0.056434  125290800
2  1986-03-14  0.067130  0.067901  0.067130  0.067130   0.058450   57866400

FILE: QCOM.csv
------------------------------------------------------------
Rows: 7128
Columns: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
Data types:
Date             str
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object
Missing values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
First 3 rows:

         Date      Open      High       Low     Close  Adj Close     Volume
0  1991-12-13  0.531250  0.593750  0.523438  0.562500   0.386204  143667200
1  1991-12-16  0.562500  0.578125  0.539062  0.554688   0.380840   22585600
2  1991-12-17  0.578125  0.578125  0.546875  0.554688   0.380840   16176000

FILE: TSLA.csv
------------------------------------------------------------
Rows: 2457
Columns: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
Data types:
Date             str
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object
Missing values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
First 3 rows:

         Date       Open   High        Low      Close  Adj Close    Volume
0  2010-06-29  19.000000  25.00  17.540001  23.889999  23.889999  18766300
1  2010-06-30  25.790001  30.42  23.299999  23.830000  23.830000  17187100
2  2010-07-01  25.000000  25.92  20.270000  21.959999  21.959999   8218800

FILE: UBER.csv
------------------------------------------------------------
Rows: 226
Columns: ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
Data types:
Date             str
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object
Missing values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
First 3 rows:

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-05-10,42.000000,45.000000,41.060001,41.570000,41.570000,186322500
1,2019-05-13,38.790001,39.240002,36.080002,37.099998,37.099998,79442400
2,2019-05-14,38.310001,39.959999,36.849998,39.959999,39.959999,46661100

================================================================================
SUMMARY TABLE
================================================================================

    Stock   Rows  Columns                                     Column Names
0    AAPL   9909        7  Date, Open, High, Low, Close, Adj Close, Volume
1    ADBE   8478        7  Date, Open, High, Low, Close, Adj Close, Volume
2     ADI  10098        7  Date, Open, High, Low, Close, Adj Close, Volume
3     AMD  10098        7  Date, Open, High, Low, Close, Adj Close, Volume
4    AMZN   5758        7  Date, Open, High, Low, Close, Adj Close, Volume
5     CRM   3972        7  Date, Open, High, Low, Close, Adj Close, Volume
6    CSCO   7589        7  Date, Open, High, Low, Close, Adj Close, Volume
7      EA   7693        7  Date, Open, High, Low, Close, Adj Close, Volume
8   GOOGL   3932        7  Date, Open, High, Low, Close, Adj Close, Volume
9     HPQ  14663        7  Date, Open, High, Low, Close, Adj Close, Volume
10    IBM  14663        7  Date, Open, High, Low, Close, Adj Close, Volume
11   INTC  10098        7  Date, Open, High, Low, Close, Adj Close, Volume
12   MSFT   8584        7  Date, Open, High, Low, Close, Adj Close, Volume
13    NET   5484        7  Date, Open, High, Low, Close, Adj Close, Volume
14    NOW   1951        7  Date, Open, High, Low, Close, Adj Close, Volume
15   NVDA   5334        7  Date, Open, High, Low, Close, Adj Close, Volume
16   ORCL   8585        7  Date, Open, High, Low, Close, Adj Close, Volume
17   QCOM   7128        7  Date, Open, High, Low, Close, Adj Close, Volume
18   TSLA   2457        7  Date, Open, High, Low, Close, Adj Close, Volume
19   UBER    226        7  Date, Open, High, Low, Close, Adj Close, Volume

In [ ]:
# Displaying last rows
print("=" * 80)
print("LAST ROW OF EACH STOCK FILE")
print("=" * 80)

for file in sorted(os.listdir(DATASET_DIR)):
    if not file.endswith(".csv"):
        continue

    path = os.path.join(DATASET_DIR, file)
    df = pd.read_csv(path)

    print(f"\n{file}")
    print("-" * 60)
    display(df.tail(1))

================================================================================
LAST ROW OF EACH STOCK FILE
================================================================================

AAPL.csv
------------------------------------------------------------

,Date,Open,High,Low,Close,Adj Close,Volume
9908,2020-04-01,246.5,248.720001,239.130005,240.910004,240.910004,43956200

ADBE.csv
------------------------------------------------------------

,Date,Open,High,Low,Close,Adj Close,Volume
8477,2020-04-01,307.0,309.609985,298.320007,301.209991,301.209991,3901000

ADI.csv
------------------------------------------------------------

,Date,Open,High,Low,Close,Adj Close,Volume
10097,2020-04-01,86.040001,88.110001,83.669998,84.089996,84.089996,3231900

AMD.csv
------------------------------------------------------------

             Date   Open       High    Low  Close  Adj Close    Volume
10097  2020-04-01  44.18  46.849998  43.16  43.66      43.66  91895000

AMZN.csv
------------------------------------------------------------

,Date,Open,High,Low,Close,Adj Close,Volume
5757,2020-04-01,1932.969971,1944.959961,1893.0,1907.699951,1907.699951,4111100

CRM.csv
------------------------------------------------------------

,Date,Open,High,Low,Close,Adj Close,Volume
3971,2020-04-01,138.320007,139.059998,133.100006,134.059998,134.059998,8733800

CSCO.csv
------------------------------------------------------------

,Date,Open,High,Low,Close,Adj Close,Volume
7588,2020-04-01,38.169998,38.860001,37.869999,38.330002,38.330002,26773900

EA.csv
------------------------------------------------------------

,Date,Open,High,Low,Close,Adj Close,Volume
7692,2020-04-01,98.379997,99.839996,96.699997,97.529999,97.529999,4056500

GOOGL.csv
------------------------------------------------------------

,Date,Open,High,Low,Close,Adj Close,Volume
3931,2020-04-01,1124.0,1129.420044,1093.48999,1102.099976,1102.099976,2597100

HPQ.csv
------------------------------------------------------------

             Date   Open   High    Low  Close  Adj Close    Volume
14662  2020-04-01  16.25  16.67  14.61  14.84      14.84  18684300

IBM.csv
------------------------------------------------------------

,Date,Open,High,Low,Close,Adj Close,Volume
14662,2020-04-01,106.360001,109.919998,104.519997,105.139999,105.139999,6111900

INTC.csv
------------------------------------------------------------

             Date  Open       High    Low      Close  Adj Close    Volume
10097  2020-04-01  52.5  54.689999  51.43  51.880001  51.880001  29582100

MSFT.csv
------------------------------------------------------------

            Date   Open    High         Low       Close   Adj Close    Volume
8583  2020-04-01  153.0  157.75  150.820007  152.110001  152.110001  57858300

NET.csv
------------------------------------------------------------

            Date  Open       High    Low      Close  Adj Close   Volume
5483  2020-04-01  22.9  25.860001  22.18  24.120001  24.120001  3664600

NOW.csv
------------------------------------------------------------

,Date,Open,High,Low,Close,Adj Close,Volume
1950,2020-04-01,274.390015,278.799988,268.679993,273.070007,273.070007,2421300

NVDA.csv
------------------------------------------------------------

,Date,Open,High,Low,Close,Adj Close,Volume
5332,2020-04-01,255.649994,261.529999,241.279999,243.070007,243.070007,16386900.0

ORCL.csv
------------------------------------------------------------

,Date,Open,High,Low,Close,Adj Close,Volume
8584,2020-04-01,46.549999,48.990002,46.040001,48.709999,48.709999,17918200

QCOM.csv
------------------------------------------------------------

            Date  Open       High   Low      Close  Adj Close    Volume
7127  2020-04-01  65.0  68.699997  65.0  65.900002  65.900002  14162200

TSLA.csv
------------------------------------------------------------

,Date,Open,High,Low,Close,Adj Close,Volume
2456,2020-04-01,504.0,513.950012,475.100006,481.559998,481.559998,13304500

UBER.csv
------------------------------------------------------------

           Date  Open    High        Low  Close  Adj Close    Volume
225  2020-04-01  26.5  26.767  24.809999  25.42      25.42  38443800

In [3]:
# Displaying the Missing Column

nvda = pd.read_csv("dataset/NVDA.csv")

# Find rows that contain at least one NaN
missing_rows = nvda[nvda.isnull().any(axis=1)]

print("Number of rows with missing values:", len(missing_rows))

# Display them
display(missing_rows)

Number of rows with missing values: 1

           Date  Open  High  Low  Close  Adj Close  Volume
665  2001-09-12   NaN   NaN  NaN    NaN        NaN     NaN

In [ ]:
#dropping the empty row
nvda_clean = nvda.dropna()
nvda_clean.to_csv("dataset/NVDA.csv", index=False)

In [2]:
# Building one combined dataset out of all csv
dfs = []

for file in os.listdir(DATASET_DIR):
    if not file.endswith(".csv"):
        continue

    stock = file.replace(".csv", "")
    df = pd.read_csv(os.path.join(DATASET_DIR, file))
    df["Stock"] = stock
    dfs.append(df)

panel = pd.concat(dfs, ignore_index=True)

panel["Date"] = pd.to_datetime(panel["Date"])
panel = panel.sort_values(["Stock", "Date"])

panel.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Stock
132818,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.406782,117258400.0,AAPL
132819,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.385558,43971200.0,AAPL
132820,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.357260,26432000.0,AAPL
132821,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.366103,21610400.0,AAPL
132822,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.376715,18362400.0,AAPL

In [3]:
# Compute Returns
# Return is percentage change in closing price from yesterday to today
# we are using percentage rather than raw price because percentage is a better representation of price change
panel["Return"] = panel.groupby("Stock")["Close"].pct_change()
panel = panel.dropna().reset_index(drop=True)

In [4]:
# Train-Test Split
# We train on past and test on future
SPLIT_DATE = "2020-01-01"

train_df = panel[panel["Date"] < SPLIT_DATE]
test_df  = panel[panel["Date"] >= SPLIT_DATE]

In [5]:
# Normalization
# We normalize each stock separately because each stock has its own price scale

features = ["Open", "High", "Low", "Close", "Volume"]

for stock in panel["Stock"].unique():
    train_mask = train_df["Stock"] == stock
    test_mask  = test_df["Stock"] == stock

    # Compute mean and standard deviation using only the training data of this stock
    # This avoids using future information (no leakage)
    mu = train_df.loc[train_mask, features].mean()
    sigma = train_df.loc[train_mask, features].std()

    # Normalize training data:
    train_df.loc[train_mask, features] = (train_df.loc[train_mask, features] - mu) / sigma
    
    # Normalize test data using the SAME  and  computed from the training data:
    test_df.loc[test_mask, features] = (test_df.loc[test_mask, features] - mu) / sigma

In [7]:
train_df.to_pickle("train_df.pkl")
test_df.to_pickle("test_df.pkl")